doctype html
html
  head
    title FlightDash
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    //- - var creditInfoAvailable = true;
    #header
      header FlightDash
      nav
        ul
          li
            a(href='/') HOME
          li
            a(href='/history') HISTORY
          li.active
            a(href='#') ACCOUNT
          li
            a(href='/about') ABOUT
          li#right
            if session.isEnabled
              a(href='/logout') SIGN OUT
            else
              a(href='/signin') SIGN IN
          li#right
            if session.isEnabled
              a(href='#') Welcome #{session.fname}
            else
              a(href='/signup') SIGN UP
    #placeholder
    div
      article
        #about
          h1 Account Information of #{session.fname} #{session.lname}
          //- h1 Account Information of #{results[0].first_name} #{results[0].last_name} 
          table
            tr
              td E-mail
              td #{session.email}
            tr
              td Phone
              td #{accountInfo.telno}
            tr 
              td Address
              td #{accountInfo.addess}
          hr
          
          if creditInfoAvailable
            h1 Creditcard1
            table
              tr
                td Credit Card Number
                td #{creditInfo.cardNo}
              tr
                td Type
                td #{creditInfo.type}
              tr 
                td Expiry
                td #{creditInfo.expiry}
          else
            h1 Credit card details
            form(method='get', action='/enterCreditCardDetails' id='fillCreditInfoForm')
              button(type='submit', form='fillCreditInfoForm', value='Submit') Enter New Credit Card Information


    footer
      ul
        li
        | This website is made by Eshwar, Elson, Gopan, Antony
