doctype html
html
  head
    title FlightDash
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    #header
      header  FlightDash
      nav
        ul
          li
            a(href='/') HOME
          li
            a(href='/history') HISTORY
          li
            a(href='/account') ACCOUNT
          li
            a(href='/about') ABOUT
          li#right
            if session.isEnabled
              a(href='/logout') SIGN OUT
            else
              a(href='/signin') SIGN IN
          li#right
            if session.isEnabled
              a(href='#') Welcome #{session.fname}
            else
              a(href='/signup') SIGN UP
    #placeholder
    div
      article
        #about
          h1 #{results[0].from_location} to #{results[0].to_location}
        each item in results
            #about
              div
                .onethird
                  h4 Flight No.
                  h1 #{item.flight_id}
                .twothird
                  p 
                    span
                      b #{item.departure_time} 
                    span to 
                    span
                      b #{item.arrival_time}
                  p Duration: #{item.duration}
              hr
              div
                
              div
                h3 Price: 4500
                form(method='post', action='book')
                  input(type='hidden', name='flight_no', value='6E 789')
                  label(for='seats') seats:
                  input(type='number', name='seats', min='1', max='5')
                  if session.isEnabled
                    input(type='hidden', value='#{session.email}', name='email')
                  else 
                    input(type='hidden', value='null', name='email')
                  button(type='submit', form='searchForm', value='Submit') BOOK

        br
        br
        br
        br
        br
    footer
      ul
        li
        | This website is made by Eshwar, Elson, Gopan, Antony
