doctype html
html
  head
    title FlightDash
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    #header
      header  FlightDash
      nav
        ul
          li
            a(href='/') HOME
          li
            a(href='#') HISTORY
          li
            a(href='/account') ACCOUNT
          li
            a(href='/about') ABOUT
          li#right
            if session.isEnabled
              a(href='/logout') SIGN OUT
            else
              a(href='/signin') SIGN IN
          li#right
            if session.isEnabled
              a(href='#') Welcome #{session.fname}
            else
              a(href='/signup') SIGN UP
    #placeholder
    div
      article
        each item in results
            #about
              div
                .onethird
                  h4 Flight No.
                  h1 #{item.flight_id}
                .twothird
                  p 
                    span
                      b #{item.departure_time} 
                    span to 
                    span
                      b #{item.arrival_time}
                  p Duration: #{item.duration}
        br
        br
        br
        br
        br
    footer
      ul
        li
        | This website is made by Eshwar, Elson, Gopan, Antony
